.Product-display {
  display: flex;
  margin: 0px 110px 0px;
}

.Product-display-left {
  display: flex;
  gap: 17px;
}

.Product-display-img-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.Product-display-img-list img {
  height: 140px;
  border-radius: 5px;
}

.product-display-right {
  margin: 0px 30px;
  display: flex;
  flex-direction: column;
}

.product-display-right h1 {
  color: var(--text-2);
}
.product-display-right-star {
  display: flex;
  align-items: center;
  margin-top: 13px;
  gap: 5px;
  color: var(--text);
  font-size: 16px;
}

.product-display-right-prices {
  display: flex;
  margin: 40px 0px;
  gap: 20px;
  font-size: 21px;
  font-weight: 700;
}

.product-display-right-price-old {
  color: var(--text-1);
  text-decoration: line-through;
  font-weight: 600;
}

.product-display-right-price-new {
  color: var(--button);
}

.product-display-right-size h1 {
  margin-top: 20px;
  color: var(--text-2);
  font-size: 20px;
  font-weight: 600;
}

.product-display-right-sizes {
  display: flex;
  margin: 20px 0;
  gap: 20px;
  font-weight: 800;
}

.product-display-right-sizes div {
  padding: 10px 20px;
  background: var(--background-primary);
  border: var(--border-1);
  border-radius: 3px;
  cursor: pointer;
}

.product-display-right-sizes div p:hover {
  transform: scale(1.05);
  transition: 600s;
  color: aqua;
}

.shop-cart {
  display: flex;
  gap: 40px;
  margin-bottom: 30px;
}

.shop-cart-buy {
  background: aqua;
  color: black;
  padding: 10px;
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  border: var(--border-1);
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}

.shop-cart-cart {
  background: var(--button);
  color: white;
  padding: 10px;
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  border: var(--border-1);
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}

.product-display-right-categoty span {
  font-weight: 600;
}
